.App {
  text-align: center;
}

.background--purple {
 background-color: rgb(60,58,103);
 height: 100%;
 width: 100%;
}

.page__content {
  margin: 40px;
}

.logo--main {
  width: 120px;
}

.splash-page__text {
  position: relative;
  top: 50px;
  left: 100px;
}

.splash-page__title {
  font-size: 18px;
  margin-bottom: 6px;
  color: rgb(255, 112, 114);
}

.splash-page__sub-title {
  color: white;
  width: 110px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
